<section class="mx-auto w-full max-w-md panel">
  <div class="panel-header">
    <h1>Sign in</h1>
  </div>
  <div class="panel-body">
    <%= form_with url: session_path, class: "form-stack" do |form| %>
      <div>
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "manager@example.com", value: params[:email_address] %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Password", maxlength: 72 %>
      </div>
      <%= form.submit "Sign in" %>
    <% end %>

    <div class="mt-4 flex justify-between text-sm">
      <%= link_to "Forgot password?", new_password_path %>
      <%= link_to "Create account", new_registration_path %>
    </div>
  </div>
</section>
